.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: #00aaff;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0px 10px 10px rgb(73, 70, 92);
    transition: 0.5s;
  }
  
  .card:hover {
    transform: translateY(-7px);
    box-shadow: 0px 10px 10px black;
  }
  
  .top {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .circle2 {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 5px;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .header {
    margin: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  #title2 {
    color: white;
    margin-top: 15px;
    padding-left: 30px;
    font-size: 15px;
  }
  
  .code-container {
    text-align: center;
  }
  #code {
    width: 99%;
    height: 350px;
    resize: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 20px;
  }
  #code:focus {
    outline: none !important;
  }
  